<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IASI</title>
    <link rel="stylesheet" href="../css/styleSheet.css" />
    <link rel="stylesheet" href="../css/styleSheet_iasi.css" />
  
</head>
<body>
    <nav class="nav">
        <% 
          let loginState=" ";
          let logOutState=" ";
          if(data.name){
            loginState = 'style=display:none;';
          }else{
            logOutState = 'style=display:none;';
          }
      %>
        <!--all the hrefs need to be routed using router.get and not router.post -->
        <a href="/">Home</a>
        <a href="/user/store">store</a>
        <div class="dropdown">
          <a class="dropbtn">Account</a>
          <div class="dropdown-content">
            <a href="/user/account"  <%= logOutState %>>Account</a>
            <a href="/user/logout" <%= logOutState %>>LogOut</a>
            <a href="/user/LoginPage" <%= loginState %>>login</a>
          </div>
        </div>
        
        <img src="../images/Logo.png">
      </nav>
    <section id="city_wrapper">
        <article>      
          <h1>IASI</h1>
          <h2>By Lorenzo Romagnoli</h2>             
          <img src="../images/placeholder.png" />
          <p>La città romena di Iași si trova nella zona nord-est della Romania, nel cuore della regione storica della Moldavia, tanto che fu capitale del Principato di Moldavia per quasi 300 anni tra il 1500 e il 1800. In seguito fu anche capitale della Romania per 2 anni, tra il 1916 e il 1918. Oggi Iași è una moderna città di oltre 300 mila abitanti, che contando l’area metropolitana diventano quasi mezzo milione. E’ la sede dell’università più antica di Romania, della prima facoltà di ingegneria del paese, e la sua vita viene scandita dagli eventi culturali organizzati nei teatri, all’opera e nei musei. Essendo situata nel cuore della regione della Moldavia, è il naturale punto di partenza per le gite di un giorno alla scoperta dei monasteri e degli angoli più remoti della zona.</p>
        </article>
        <article>
            <img src="../images/placeholder.png" />
            <p>Il<a class="link_button" href="/routing?routing_location=Palace of Culture, Iași, Romania">Palazzo della Cultura</a> a Iasi è senza dubbio uno degli edifici più belli della città, ed anche uno dei suoi simboli. Oggi è sede di un complesso museale formato da ben 4 musei: il museo d’arte, il museo di storia della Moldavia, il museo etnografico della Moldavia e il museo di scienze e tecnologie. Allo stesso tempo, il Palazzo della cultura ospita un centro di restauro e conservazione del patrimonio culturale, ed è sede di esibizioni ed eventi. L’imponente edificio risale ai primi del ‘900, ed è composto da quasi 300 stanze. Uno dei suoi tratti distintivi è la torre dell’orologio, centro del progetto del palazzo; l’orologio ha un diametro di oltre 3 metri, decorato in vetro e acciaio nei 12 quadranti, i cui simboli rappresentano i 12 segni zodiacali.</p>
        </article>
        <article>
            <img src="../images/placeholder.png" />
            <p>Un’altro palazzo che rappresenta la storia di Iași è il <a class="link_button" href="/routing?routing_location=Muzeul Vasile Alecsandri, Iași, Romania">teatro nazionale Vasile Alecsandri</a>, dedicato al poeta e commediografo romeno. La sua costruzione risale al 1840, anche se fu ricostruito nel 1896 a causa di un devastante incendio che lo distrusse completamente. Oggi, il teatro ha una capacità di oltre 1200 posti a sedere, ha una facciata neoclassica e un interno riccamente decorato in stili barocco e rococò. Degno di nota l’imponente lampadario, realizzato con 109 lampade di cristallo veneziano.</p>
        </article>
        <article>
            <img src="../images/placeholder.png" />
            <p>Il <a class="link_button" href="/routing?routing_location=Parcul Copou, Iași, Romania">Parcul Copou</a> è il parco pubblico più vecchio di Iași, creato nel 1834. Si estende per 10 ettari ed è uno dei luoghi più belli della città, un vero e proprio polmone verde situato a nord del centro. Tra viali alberati e aiuole fiorite, ci sono anche alcuni interessanti monumenti da visitare, tra cui l’obelisco dei leoni, risalente all’anno di apertura del parco e dedicato al Regulamentul Organic, la prima legge sulle organizzazioni politiche, amministrative e giuridiche della Romania. Passeggiando per il parco non si può fare a meno di notare l’albero di Eminescu, un esemplare di Tilla tomentosa vecchio di 500 anni, sotto al quale si narra che il famoso poeta e scrittore romeno Mihai Eminescu scrisse alcune delle sue migliori opere.</p>
        </article>
        <article>
            <img src="../images/placeholder.png" />
            <p>Il <a class="link_button" href="/routing?routing_location=Frumoasa monastery, Iași, Romania">Monastero Frumoasa</a> (parola che in lingua romena significa “bellissimo“) è un monastero ortodosso di suore fondato nel XVI secolo e ricostruito e restaurato diverse volte nei secoli successivi. Il complesso che si può ammirare oggi è in stile neoclassico, ed è parte della lista dei monumenti storici della contea di Iași sin dal 2015. Si trova a poca distanza dal centro della città di Iași. Il monastero è composto da 6 edifici: la chiesa di San Voievozi, il palazzo, le rovine del palazzo delle donne, la torre campanaria, il mausoleo di Grigore Sturdza e le mura di cinta che corrono intorno all’intero complesso.</p>
        </article>
        <article>
            <img src="../images/placeholder.png" />
            <p>Infine il <a class="link_button" href="/routing?routing_location=Trei Ierarhi monastery, Iași, Romania">Monastero Trei Ierarhi</a> risale al XVII secolo ed è stato incluso tra le candidature alla lista dei patrimoni dell’umanità dell’UNESCO. Fu costruito in onore dei tre santi Basilio, Gregorio il Teologo e Giovanni d’Antiochia, e venne utilizzato dal principe Vasile Lupu come sede della prima tipografia in Moldavia e dell’Accademia Vasiliana, un’istituzione di istruzione superiore. La chiesa del monastero Trei Ierarchi è rinomata per il suo esterno in pietra decorata, mentre la facciata combina elementi architetturali gotici e rinascimentali propri dell’Europa occidentale con tratti dell’Est e del Medio Oriente, di ispirazione armena, georgiana, persiana, araba e ottomana. Di fianco alla chiesa si trova una sala gotica che ospita un museo di arte religiosa, che tra gli altri espone oggetti relativi alla storia del monastero. Oggi la torre del cancello del monastero non esiste più, ma in passato fungeva anche da torre campanaria. Sulla sua cima Vasile Lupu installò un enorme orologio, il primo orologio pubblico della Romania.</p>
        </article>
    </section>
    
</body>
</html>