<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER LOGIN</title>
    <link rel="styleSheet" href="../css/styleSheet.css">
</head>

<body>
    <nav class="nav">
        <% console.log(data.name) 
          let loginState=" ";
          let logOutState=" ";
          if(data.name){
            loginState = 'style=display:none;';
          }else{
            logOutState = 'style=display:none;';
          }
      %>
        <!--all the hrefs need to be routed using router.get and not router.post -->
        <a href="/">Home</a>
        <a href="/user/store">store</a>
        <div class="dropdown">
          <a class="dropbtn">Account</a>
          <div class="dropdown-content">
            <a href="/user/account"  <%= logOutState %>>Account</a>
            <a href="/user/logout" <%= logOutState %>>LogOut</a>
            <a href="/user/LoginPage" <%= loginState %>>login</a>
          </div>
        </div>
        <a href="/testsession">session</a>
        <img src="../images/Logo.png">
      </nav>

    
<form method="POST" action="/user/login">
    <div class="data-area">
        <h3>Login</h3>
        <div class="data-field">
            <p><span class="data-field-category">USERNAME: </span>  <input type="text" id="userName" name="userName" /> </p>
            <p><span class="data-field-category">PASSWORD: </span>  <input type="password" id="password" name="password" />
            <input type="submit" value="submit">
        </div>
        <a href="/user/signUpPage">Don't have an account? SIGN UP!</a>
    </div>
</form>

    <h2><%= data.message%></h2>
</body>

</html>