<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleSheet.css" />
    <title>MessagePage</title>
</head>
<body>
    <nav class="nav">
        <% console.log(data.name) 
          let loginState=" ";
          let logOutState=" ";
          if(data.name){
            loginState = 'style=display:none;';
          }else{
            logOutState = 'style=display:none;';
          }
      %>
        <!--all the hrefs need to be routed using router.get and not router.post -->
        <a href="/">Home</a>
        <a href="/user/store">store</a>
        <div class="dropdown">
          <a class="dropbtn">Account</a>
          <div class="dropdown-content">
            <a href="/user/account"  <%= logOutState %>>Account</a>
            <a href="/user/logout" <%= logOutState %>>LogOut</a>
            <a href="/user/LoginPage" <%= loginState %>>login</a>
          </div>
        </div>
        <a href="/testsession">session</a>
        <img src="../images/Logo.png">
      </nav>

    <h1><%= data %></h1>
</body>
</html>