<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milano</title>
    <link rel="stylesheet" href="../css/styleSheet.css" />
    <link rel="stylesheet" href="../css/styleSheet_milano.css"/>
   
</head>
<body>
    <nav class="nav">
        <%  
          let loginState=" ";
          let logOutState=" ";
          if(data.name){
            loginState = 'style=display:none;';
          }else{
            logOutState = 'style=display:none;';
          }
      %>
        <!--all the hrefs need to be routed using router.get and not router.post -->
        <a href="/">Home</a>
        <a href="/user/store">store</a>
        <div class="dropdown">
          <a class="dropbtn">Account</a>
          <div class="dropdown-content">
            <a href="/user/account"  <%= logOutState %>>Account</a>
            <a href="/user/logout" <%= logOutState %>>LogOut</a>
            <a href="/user/LoginPage" <%= loginState %>>login</a>
          </div>
        </div>
        
        <img src="../images/Logo.png">
      </nav>
    <section id="city_wrapper" >
        <article >
            <div id="header">
                <h1 style="background-color:gold;">MILANO A COLORI</h1>
                <h2 style="background-color:gold;"> Un tour a tinte vivaci, a caccia dei posti più colorati della città</h2>
                <h2>By Lorenzo Romagnoli</h2>
            </div>
            <h2><a class="link_button" href="/routing?routing_location=Via Lincoln, milano, IT">Le case colorate di Via Lincoln</a></h2>
             <img src="../images/Milano-CaseColorate.png" />
            <p>Lilla, giallo, rosa, azzurro e verde menta: le casette di <strong>Via Lincoln</strong>, ex villaggio operaio e ora conosciuto come quartiere arcobaleno, sono tutte di diversi colori. Vedrai balconcini fioriti, giardini spuntare dai cancelli. E quasi neanche ti sembrerà di essere a Milano. E infatti c’è chi l’ha soprannominata la <strong>“Burano milanese”</strong>. In realtà, oltre che a essere <strong>uno dei posti più colorati di Milano</strong>, Via Lincoln è una piccola strada privata praticamente in centro, a meno di 500 metri da piazza Cinque Giornate e a pochi passi dai tanti ristoranti e locali che riempiono le vie Sottocorno, Premuda e la zona di Risorgimento.</p>
        </article>
        <article>
            <h2><a class="link_button" href="/routing?routing_location=Via Ortica 12, milano, IT">I murales multicolore di Ortica</a></h2>
            <img src="../images/Milano-muralesOrtica.png" />
            <p>Un muro floreale per ricordare gli orti che in passato caratterizzavano il borgo. E tulipani rossi, simbolo di pace, per non dimenticare le vittime delle guerre mondiali. Quella che colora Via Ortica 12 è una delle <strong>20 opere di arte urbana</strong> più grandi in Italia, realizzate con il progetto <strong><u>OR.ME Ortica Memoria</u></strong>, che hanno reso il quartiere un museo a cielo aperto. Nonché uno dei posti più colorati di Milano. Ma non è l’unica opera di street art che devi vedere in città.</p>
        </article>
        <article>
            <h2><a class="link_button" href="/routing?routing_location=Fondazione Prada, L.go Isarco, milano, IT">L’oro della Fondazione Prada</a></h2>
            <img src="../images/placeholder.png" />
            <p>Si vede subito dalla strada e cattura lo sguardo appena si entra nel cortile della <strong><u>Fondazione Prada</u></strong>, in largo Isarco, <u>zona Porta Romana</u>. Tra il bianco, il nero e il grigio cemento dell’ex edificio industriale, completamente riqualificato dallo studio di architettura OMA, vedrai luccicare la <strong>&quot;Haunted House&quot;</strong>, interamente rivestita in foglia d&#39;oro. È un segno, una provocazione, per puntare l’attenzione sulla ricchezza nascosta di questa zona della città. Qui un tempo si produceva brandy, ora si fa cultura. Con stile.</p>
        </article>
        <article>
            <h2>Il giallo Milano</h2>
            <img src="../images/placeholder.png" />
            <p>Si dice che Milano sia grigia, ma forse non sai che uno dei colori più diffusi in città è il giallo. Una sfumatura cromatica che noterai caratterizzare soprattutto le case di ringhiera della vecchia Milano. Fai un giro a <a class="link_button" href="/routing?routing_location=Isola, milano, IT">Isola</a> o tra le vie attorno ai <a class="link_button" href="/routing?routing_location=Navigli, milano, IT">Navigli</a>: avrai la conferma.</p>
        </article>
        <article>
            <h2>Il verde del <a class="link_button" href="/routing?routing_location=Bosco Verticale, milano, IT">Bosco Verticale</a></h2>
            <img src="../images/placeholder.png" />
            <p>Milano cambia. E punta e essere sempre più sostenibile. Crescono i progetti per renderla più ciclabile e pedonale. Così come le aree verdi. È un simbolo il <strong><u>Bosco verticale</u></strong>, il grattacielo verde che sorveglia la <strong>Biblioteca degli Alberi - BAM</strong>, tra il quartiere di Porta Nuova e Isola. Scopri come la facciata cambi aspetto in ogni stagione: fiorita in primavera, verde sgargiante d’estate e in autunno ecco le tinte calde del foliage.</p>
        </article>
        <article>
            <h2>Milano e le sfumature di grigio</h2>
            <img src="../images/placeholder.png" />
            <p>Va bene, non possiamo negarlo. A <strong>Milano</strong> troverai anche il <strong>grigio</strong>. Lo noterai soprattutto nei giorni di pioggia a scurire il candore del <a class="link_button" href="/routing?routing_location=Duomo, milano, IT">Duomo</a> o quando in inverno cala la nebbia (succede, sì, ancora, di tanto in tanto) e una patina di grigio smorza tutte le sfumature. Ma è un mezzotono elegante, resiliente e inclusivo. Senza tempo e alla moda. Mai scontato, proprio come Milano. D’altronde, persino il milanese Giorgio Armani, influenzato delle infinite varianti di grigio della sua città, ne ha fatto il suo colore distintivo: qualcosa vorrà pur dire, no? Lo apprezzerai.</p>
        </article>
    </section>
   
</body>
</html>