<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="nav">
        <!--all the hrefs need to be routed using router.get and not router.post -->
        <a href="/">Home</a>
        <a href="/user">login</a>
        <a href="/user/store">store</a>
        <a href="/user/account">Account</a>
        <a href="/testsession">session</a>
        <img src="../images/Logo.png">
      </nav>
    <form method="POST" action="/user/SignUp">
        <fieldset>
            <legend>SignUp</legend>
            <label for="Name">Name: </label>
            <input type="text" id="Name" name="Name" />
            <label for="surName">Surname: </label>
            <input type="text" id="surName" name="surName" />
            <label for="userName">Username: </label>
            <input type="text" id="userName" name="userName" />
            <label for="password">password: </label>
            <input type="password" id="password" name="password" />
            <label for="email">E-Mail: </label>
            <input type="email" id="mail" name="mail"/>
            <input type="submit" value="submit">
        </fieldset>
    </form>
    <form method="POST" action="/user/login">
        <fieldset>
            <legend>Login</legend>
            <label for="userName">Username: </label>
            <input type="text" id="userName" name="userName" />
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" />
            <input type="submit" value="submit">
        </fieldset>
    </form>
    <form method="POST" action="/user/logout">
       <input type="submit" value="logout">
    </form>
    
    <h2><%= data%></h2>
</body>

</html>