.data-area{
    margin-left: 40%;
    border: 2px solid black;
    border-radius: 20px;
    width: 20vw;
    text-align: center;
}
.data-field p:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(240, 239, 239);
    transition: 0.3s;
}
.data-field{
    font-size: 2vw;
}
.data-field-category{
    font-size: small;
}